@charset "utf-8";
/* CSS Document */
/*for COH font*/
@font-face {
font-family: 'cohfont';
src: url('cohfont.eot'); /* IE9 Compat Modes */
src: url('cohfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('cohfont.woff') format('woff'), /* Modern Browsers */
url('cohfont.ttf') format('truetype'), /* Safari, Android, iOS */
url('cohfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
html, body, {
	width: 100%;
	height: 100%;
}

.cohfont {
  font-family: 'cohfont';
  color:#003D7A;
  text-transform: uppercase;
  height: 20pt;
}
.sitewrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.font-roboto-bold {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    color: #003d7a;
  }
.font-roboto-light {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    color: #003d7a;
  }
  .font-roboto-light-heading {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
  }
h2.font-roboto-bold {
    text-decoration: underline;
}
h1.font-coh {
    font-family: ultraregular;
}
.container-fluid {
	width: 100%;
	height:100%;
  overflow-x: hidden;
  padding-left:0;
  padding-right:0;
};

/*banner styles*/
.stackorder {
  z-index: -1;
  position: relative;
  width: 100%;
}

.banner .after {
    position:absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, .6);
  }

.center-fly {
   position: absolute;
   padding-top: 3em;
   padding-left:1em;
   z-index:3;
   width: 100%;
   font-family: 'cohfont';
   font-size: 20pt;
   color: white; 
   letter-spacing: -1px;
   animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */ 
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
/* Glow effect from http://zurb.com/playground/radioactive-buttons*/
  @-webkit-keyframes glowPulse {
  from { background-color: #337ab7; -webkit-box-shadow: 0 0 9px rgba(212, 231, 8, 0.5) }
  50% { background-color: #337ab7; -webkit-box-shadow: 0 0 18px rgba(212, 231, 8, 0.5) }
  to { background-color: #337ab7; -webkit-box-shadow: 0 0 9px rgba(212, 231, 8, .5) }
}
  .glow {
  -webkit-animation-name: glowPulse;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
}

span.font-roboto-light {
  color:white;
}
br.center-fly {
  padding-top: 5px;
}
button.font-roboto-light {
  color:white;
}
/*header/footer styles*/

.lifesong {

}

.hammy {
	padding-top: .35em;
  font-size: 3em;
  color: #003D7A;
  background-color: rgba(0,0,0,0);
}
a.hammy:hover {
    text-decoration: none;
}
a.footerItem:hover {
  text-decoration:none;
}
}
.ipwith {
	font-size: 85%;
	padding-top: -5px;
    color:rgba(95, 115, 159, 0.75);
}
.coh {
	padding-top: .3em;
    color: #1A305A;
}
hr {
    margin-top: 4px;
    border-top: 4px solid #003d7a;
    width: 98%;

}
.padding-left-off {
	padding-left: 5px;
}
.padding-right-off {
	padding-right: 0;
}
.upsome {
	margin-top: -.65em;
}
.center {
    margin: 0 auto;
}
.instagram {
    background-color: rgba(0,0,0,0);
    height:35px;
    margin-top: 1.5em;
}
.youtube {
    padding-right:.5em;
    height:35px;
    margin-top: 1.5em;
    background-color: rgba(0,0,0,0);
}
.copy {
  margin-top: 2em;
}
a.footerItem {
  background-color: rgba(0,0,0,0);
}
.info:hover > .darken { 
    background-color: #0A2E52; 
  }
footer {
    background-color: #2A457A;
}
.lifesong{
    padding-top: 20px;
    padding-right:15px;
}
.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /*padding: 10px;*/
}
li .coh {
    padding-left: .2em;
    padding-right:.2em;
    color: #f2f2f2;
}
.ulgeneral {
    list-style-type: none;
}
/*nav styles*/

 nav {
        width: 300px;
        height: 100%;
        position: absolute;
        top:0px;
        right:0px;
        z-index: 100;
        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-500px, 0);
        transform: translate(1200px, 0);
        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
      }
      nav.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        height: 100%;
      }
.c-mask {
          position: fixed;
          z-index: 10;
          top: 0;
          left: 0;
          overflow: hidden;
          width: 0;
          height: 0;
          background-color: #000;
          opacity: 0;
          transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
      }
.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.comeout {
	background-color: #2A457A;
    color: #efefef;
}
.comeout li {
	list-style-type: none;
	padding-left: 10px;
}
.c-menu__link {
  display: block;
  padding: 12px 24px;
  color: #fff;
}
a.c-menu__link {
  text-decoration: none;
}
.menuItem {
    background-color: #2A457A;
    display: block;
    text-align: center;
    border-top: solid 1px #7588AF;
    border-bottom: solid 1px #050E1B;
}
/*Below taken from http://ianlunn.github.io/Hover/*/

.hvr-fade {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #0A2E52;
  color: white;
}
.has-active-menu {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

/*center styles for table and table content*/

.centerImage {
    margin: 0 auto;
    width:100%;
}

#mission {
  background-color: rgba(226, 226, 222, 0.52);
  padding-top: 30px;
  margin-bottom:20px;
  position:relative;
  border-bottom: 2px solid rgb(0, 61, 122);
}
.scripture {
  margin: 0; 
  position:relative;
  top: -40px;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  color: #003d7a;
  margin-right: 15px;
  margin-left: 15px;
}
.center-table {
  margin: 0 auto !important;
  float: none !important;
}
table.center-table {
  margin: 0 auto !important;
  float: none !important;
  width: 0%;
}
.table-text-right {
    text-align: right;
    padding-right: 4px;
}
.table-text-center {
    text-align: center;
}
.table-text-left-left {
    text-align: left;
    padding-right: 20px;
    font-size: 12pt;
}
.table-text-left-right {
    text-align: left;
    padding-left: 40px;
    font-size: 12pt;
}
.border {
  border-top: 4px solid rgba(220, 126, 15, 1);
  border-bottom: 4px solid rgba(220, 126, 15, 1);
  max-height: 474px;
  
}
.table-bg {
  background-color: white;
  max-width: 52%;
  min-width: 375px;
  padding-bottom: 22px;
}
#wrapper {
  border: 1px solid #003D7A;
  top:-70px;
}
.isaiah {
    font-size: 14pt;
    font-style: italic;
    font-weight: 600;
}

/*Styles for bottom pictures */

.border-box {
    color: white;
    display: block;
    background-color: rgba(42, 69, 122, 1);
    padding: 5px;
    max-width: 360px;
}
.bottom-title {
  color:#FCA92F;
}
.bottom a {
  text-decoration: none;
}



/*center bottom pictures*/

.col-sm-12.bottompics {
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#links {
   margin: 0 auto;
}

/*link behavior for for bottom pics*/
a.info {
  text-decoration: none;
}
.bottomview a:hover > img, .bottomview a:focus > img, .bottomview a:active > img {
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.bottomview a:hover span.darken, .bottomview a:focus span.darken, .bottomview a:active span.darken {
    background-color: #0A2E52;
}
/*Contact for styles*/
#contact {

  background-color: rgba(226, 226, 222, 0.52);
}
form {
  margin-bottom: -1em;
}
.contact-format {
  padding: 15px;
  padding-right: 0;
}
h3.contact-format {
  padding-left: 2em;
}
.input-height {
  height: 50px;
  border:0;
  max-width: 300px;
}
.button {
  background-color: rgba(42, 69, 122, 1); 
}
.fields {
  padding-left: 4.25em;
}
.block {
  width: 100%;
  float: left;
  position: relative;
}
textarea {
  border: red;
}
/*media breakpoints*/

/*for bottom pics and subtitle*/
@media (max-width: 769px) {

  .space {
      padding-bottom:35px;
  };
  .col-sm-12.bottompics {

    padding-left: 25%;
}
}
/*for subtitle under COH in header*/
@media (max-width: 864px) {
    h6.ipwith {
      font-size: 7.7pt;
      padding-left: 2px;
    }
}

/*for COH in header*/
@media (max-width: 460px) {
  h3.cohfont {
  /*padding-left: 2px;*/
      font-size: 15pt;
}
.hammy {
    padding-top: .45em;
    font-size: 2.5em;
}

}

/*for smart phone (iphone)*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

  h3.coh {
  padding-top: 1em;
  font-size: 12pt;
  }
  .footerItem {
    font-size: 12pt;

  }
  .copy {
    margin-top:2.2em;
  }
  .table-text-left-left {
    text-align: left;
    padding-right: 10px;
    font-size: 8pt;
  }
  .table-bg {
    padding-bottom: 12px;
  }
  .table-text-left-right {
    text-align: left;
    padding-left: 20px;
    font-size: 8pt;
  }
  .scripture {
    font-size: smaller;
    top:-10px;
  }
  .isaiah {
    font-size: small;
  }
  #wrapper {
    top:-40px;
  }
  #wrapper h2 {
    font-size: 14pt;
  }
  #wrapper h4 {
    font size: medium;
  }


}
  



