@charset "utf-8";
/* CSS Document */
/*for COH font*/
@font-face {
font-family: 'cohfont';
src: url('cohfont.eot'); /* IE9 Compat Modes */
src: url('cohfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('cohfont.woff') format('woff'), /* Modern Browsers */
url('cohfont.ttf') format('truetype'), /* Safari, Android, iOS */
url('cohfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
html, body, {
	width: 100%;
	height: 100%;
}
/*formatting for COH font in header*/
.cohfont {
  font-family: 'cohfont';
  color:#003D7A;
  text-transform: uppercase;
  font-size: 18pt;

}
h3.cohfont a, a:active, a:visited {
  color:#003D7A;
  text-decoration: none;
}
h3.cohfont-abbr a, a:active, a:visited {
  color:#003D7A;
  text-decoration: none;
}
/*formatting ofr COH font on small device < 315px*/
.cohfont-abbr {
  font-family: 'cohfont';
  color:#003D7A;
  text-transform: uppercase;
  font-size: 18pt;
  margin-top:-10px;
}
/*div to wrap all markup for overlat when menu selected*/
.sitewrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}
/*formatting for roboto fonts*/
.font-roboto-bold {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    color: #003d7a;
  }
  .font-roboto {
    font-family: 'roboto', sans-serif;
    color:#003d7a;
  }
.font-roboto-light {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    color: #003d7a;
  }
  .font-roboto-light-heading {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
  }
h2.font-roboto-bold.page-title {
    text-decoration: none;
    font-weight: 700;
}
h1.font-coh {
    font-family: ultraregular;
}
/*container div formatting to prevent weird horizontal scrolling*/
.container-fluid {
	width: 100%;
	height:100%;
  overflow-x: hidden;
  padding-left:0;
  padding-right:0;
};

/*banner styles*/
.stackorder {
  z-index: -1;
  position: relative;
  width: 100%;
}

.banner .after {
    position:absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, .6);
  }
/*fly in animation for home page only*/
.center-fly {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   max-width: 477px;
   padding-left:1em;
   z-index:3;
   width: 100%;
   font-family: 'cohfont';
   font-size: 20pt;
   color: white; 
   letter-spacing: -1px;
   animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */ 
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
/* Glow effect from http://zurb.com/playground/radioactive-buttons*/
  @-webkit-keyframes glowPulse {
  from { background-color: #337ab7; -webkit-box-shadow: 0 0 9px rgba(212, 231, 8, 0.5) }
  50% { background-color: #337ab7; -webkit-box-shadow: 0 0 18px rgba(212, 231, 8, 0.5) }
  to { background-color: #337ab7; -webkit-box-shadow: 0 0 9px rgba(212, 231, 8, .5) }
}
  @-moz-keyframes glowPulse {
  from { background-color: #337ab7; -moz-box-shadow: 0 0 9px rgba(212, 231, 8, 0.5) }
  50% { background-color: #337ab7; -moz-box-shadow: 0 0 18px rgba(212, 231, 8, 0.5) }
  to { background-color: #337ab7; -moz-box-shadow: 0 0 9px rgba(212, 231, 8, .5) }
}
  .glow {
  -webkit-animation-name: glowPulse;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
}
.center-fly-other {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   max-width: 350px;
   padding-left:1em;
   z-index:3;
   width: 100%;
   font-family: 'cohfont';
   font-size: 20pt;
   color: white; 
   letter-spacing: -1px;
 }

span.font-roboto-light {
  color:white;
}
.center-fly button {
  border-radius: 0;
  margin-top: 10px;
  margin-left: 5px;
}
button.font-roboto-light {
  color:white;
}
/*header/footer styles*/

.lifesong {

}
/*hamburger menu styles*/
.hammy {
	padding-top: .35em;
  font-size: 3em;
  color: #003D7A;
  background-color: rgba(0,0,0,0);
}

a.hammy:hover {
    text-decoration: none;
    cursor: pointer; 
    cursor: hand;
}
a.footerItem:hover {
  text-decoration:none;
}
/*in partnership with styles in header*/
.ipwith {
	font-size: 85%;
	padding-top: -5px;
    color:rgba(95, 115, 159, 0.75);
}
/*tweaking header padding*/
.padding-left-off {
	padding-left: 5px;
}
.padding-right-off {
	padding-right: 0;
}
.upsome {
	margin-top: -.65em;
}
/*style to center anything*/
.center {
    margin: 0 auto;
    float:none;
}
/*icon styles for footer*/
.instagram {
    background-color: rgba(0,0,0,0);
    height:35px;
    margin-top: 1.5em;
}
.youtube {
    padding-right:.5em;
    height:35px;
    margin-top: 1.5em;
    background-color: rgba(0,0,0,0);
}
/*copyright styles*/
.copy {
  margin-top: 2em;
}
/*tweaking footer for responsiveness*/
.coh {
  padding-top: .3em;
    color: #1A305A;
}
a.footerItem {
  background-color: rgba(0,0,0,0);
}
.info:hover > .darken { 
    background-color: #0A2E52; 
  }
footer {
    background-color: #2A457A;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
li .coh {
    padding-left: .2em;
    padding-right:.2em;
    color: #f2f2f2;
}
.ulgeneral {
    list-style-type: none;
}
/*nav styles*/

 nav {
        width: 300px;
        height: 100%;
        position: absolute;
        top:0px;
        right:0px;
        z-index: 100;
        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-500px, 0);
        transform: translate(1200px, 0);
        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
      }
      nav.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        height: 100%;
      }
.c-mask {
          position: fixed;
          z-index: 10;
          top: 0;
          left: 0;
          overflow: hidden;
          width: 0;
          height: 0;
          background-color: #000;
          opacity: 0;
          transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
      }
.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.comeout {
	background-color: #2A457A;
    color: #efefef;
}
.comeout li {
	list-style-type: none;
	padding-left: 10px;
}
.c-menu__link {
  display: block;
  padding: 12px 24px;
  color: #fff;
}
a.c-menu__link {
  text-decoration: none;
}
.menuItem {
    background-color: #2A457A;
    display: block;
    text-align: center;
    border-top: solid 1px #7588AF;
    border-bottom: solid 1px #050E1B;
}
/*Below taken from http://ianlunn.github.io/Hover/*/

.hvr-fade {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #0A2E52;
  color: white;
}
.has-active-menu {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

/*center styles for table and table content - only for home page*/

.centerImage {
    margin: 0 auto;
    width:100%;
}

#mission {
  background-color: rgba(226, 226, 222, 0.52);
  padding-top: 30px;
  /*margin-bottom:20px;*/
  position:relative;
  border-bottom: 2px solid rgb(0, 61, 122);
}
.scripture {
  margin: 0; 
  position:relative;
  top: -40px;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  color: #003d7a;
  margin-right: 15px;
  margin-left: 15px;
}
.center-table {
  margin: 0 auto !important;
  float: none !important;
}
table.center-table {
  margin: 0 auto !important;
  float: none !important;
  width: 0%;
}
.table-text-right {
    text-align: right;
    padding-right: 4px;
}
.table-text-center {
    text-align: center;
}
.table-text-left-left {
    text-align: left;
    padding-right: 20px;
    font-size: 12pt;
}
.table-text-left-right {
    text-align: left;
    padding-left: 40px;
    font-size: 12pt;
}
.border {
  border-top: 4px solid rgba(220, 126, 15, 1);
  border-bottom: 4px solid rgba(220, 126, 15, 1);
  max-height: 474px;
}
.table-bg {
  background-color: white;
  max-width: 45%;
  min-width: 375px;
  padding-bottom: 22px;
}
/*content for all other pages*/
.content-bg {
  background-color: white;
  max-width: 70%;
  min-width: 375px;
  padding-bottom: 22px;
}
.format-options {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
}
#wrapper {
  border: 1px solid #003D7A;
  top:-70px;
}
p.center-content {
  margin:0 30 0 30;
  font-size: 15pt;
  color:#003d7a;
  font-family: 'roboto',sans-serif;
  font-weight: 300;
}
div.center-content {
  margin:0 auto;
  font-size: 15pt;
  font-style: italic;
  color:#003d7a;
  font-family: 'roboto',sans-serif;
  font-weight: 300;
  max-width: 400px;
}
hr {

  border-top: 1px solid rgba(0, 61, 122, 0.27);
}
.isaiah {
    font-size: 14pt;
    font-style: italic;
    font-weight: 600;
}

/*Styles for bottom pictures - only for home page*/

.border-box {
    color: white;
    display: block;
    background-color: rgba(42, 69, 122, 1);
    padding: 5px;
    max-width: 360px;
}
.bottom-title {
  color:#FCA92F;
}
.bottom a {
  text-decoration: none;
}



/*center bottom pictures - only for home page*/

.col-sm-12.bottompics {
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}

#links {
   margin: 0 auto;
}

/*link behavior for for bottom pics -  only for home page*/
a.info {
  text-decoration: none;
}
.bottomview a:hover > img, .bottomview a:focus > img, .bottomview a:active > img {
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.bottomview a:hover span.darken, .bottomview a:focus span.darken, .bottomview a:active span.darken {
    background-color: #0A2E52;
}
/*News Page Styles*/
.border_news {
  border-top: 4px solid rgba(42, 69, 122, 1);
  border-bottom: 4px solid rgba(220, 126, 15, 1);
}
.feed {
  margin: 15px;
}
.feed .feed-image {
  padding-left: 50px;
  border-right: 1px solid #000;
}
.feed h2 {
  margin: 0;

}
/*Dontate div styles*/
#donate-section {
  background-color:rgba(42, 69, 122, 1);
}
.donate-wrap {
  margin: 50px 0 50px 0;
    display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#donate-section button {
  text-align: center;
  background-color:#DC7E0F;
  color: #FFF;
  font-weight: 700;
  padding: 10px;
  width: 20%;
  min-width: 100px;
  max-width: 400px;
  border: none;
  border-radius: 0;
  font-size: 20px;
  border: solid 2px #FFF;
}
#donate-section button:hover {
  /*color:rgba(42, 69, 122, 1);*/
  color:#5D3608;
/*  background-color:rgba(252,169,47,.8);*/
}
/*Contact form styles*/
#contact {

  background-color: rgba(226, 226, 222, 0.52);
}
form {
  margin-bottom: -1em;
}
.contact-format {
  padding: 15px;
  padding-right: 0;
}
h3.contact-format {
  padding-left: 2em;
  margin-top:15px;
}
.input-height {
  height: 50px;
  border:0;
  max-width: 300px;
}
.button {
  background-color: rgba(42, 69, 122, 1);
  border-radius: 0; 
}
.fields {
  padding:10px;
}
.text-submit {
  padding:10px;
}
.phone-address {
  padding: 10px;
}
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  width: 100%;
}
.block {
  width: 100%;
  float: left;
  position: relative;
}
/*About Page Styles*/
.folks-wrapper .row {
  margin-bottom: 40px;
}
.folks {
  text-align: center;
}
.folks img {
  margin: 0 auto;
}
.folks h4, .folks h5 {
  color: #2A457A;
}
.folks h4 span {
  top: 4;
  color: #2A457A;
}
/*Project Page Styles*/

.images-pp, .images-bkk {
  text-align: center;
}
.images-pp h4, .images-bkk h4 {
  margin-bottom: 60px;
}
.images-pp img, .images-bkk img {
  margin: 0 auto;
}
.modal-body img {
  margin: 0 auto;
}
.modal-header {
  background-color: #2A457A;
  color: #FFF;
}
.modal-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-close {
    padding: 0; 
    font-size: 1.25em;
    color: #FFF;
    background-color: rgba(0,0,0,0);
}
.modal-close:hover {
  color: #FFF;
  text-decoration: none;
}
.modal-footer {
  background-color: #2A457A;
}
.modal-footer h5 {
    font-family: 'cohfont';
    color: #FFF;
    text-transform: uppercase;
    float: left;
}
/*media breakpoints*/

/*for bottom pics and subtitle 720*/
@media (max-width: 780px) {

  .space {
      padding-bottom:35px;
  };
  .col-sm-12.bottompics {

    padding-left: 25%;
  }
.input-height {
  padding:10px;
  max-width: none;
  width:100%;
  }
  .form-group {
    padding-right:15px;
  }
  .send {
    width:100%;
  }
}

@media (max-width: 767px){
  .phone-address {
    text-align: center;
  }
}
/*for text over banner photo*/
@media (max-width: 600px) {
  .center-fly {
    transform: translateY(-70%);
  }
  .center-fly button {
    margin-top: 10px;
    border-radius: 0;
  }
  .center-fly h2 {
    font-size: 18pt;
  }
  .center-fly-other h2 {
    font-size: 15pt;
    max-width: 400px;
  }
}
/*for subtitle under COH in header 860*/
@media (max-width: 864px) {
    h6.ipwith {
      font-size: 7.7pt;
      padding-left: 2px;
    }
}

/*for COH in header 460*/
@media (max-width: 320px) {
  h3.cohfont {
      font-size: 10pt;
}
.hammy {
    padding-top: .7em;
    font-size: 1.5em;
}

}
/*for footer*/
@media (max-width: 299px){
  .copy {
    margin-top:0;
  }
  .fields {
    padding-left: -4.25em;
    width:100%;
  }
  textarea {
    width:100%;
  }

}
@media (min-width: 100px) and (max-width: 375px){
.footerItem {
    font-size: 12pt;

  }
  #drawer {
  width: 100%;
}
  .content-bg {
    min-width: 75%;
    font-size: 8pt;
  }
  p.center-content {
    margin:0;
    font-size: 13;
  }
  h3.coh {
    text-align: center;
  }
  .copy {
    margin-top:0;
  }
  .center-fly {
    padding-left: 5px;
  }
  .center-fly h2 {
    font-size: 16px;
  }
  .center-fly button {
    width: 20%;
    min-width: 100px;
    max-width: 150px;
    padding: 1%;
    margin-bottom: 4px;
    margin-top: 4px;
  }
  .center-fly-other {
    /*padding-top: 20px;*/
    padding-left: 5px;
  }
  .center-fly-other h2 {
    font-size: 16px;
    max-width: 140px;
  }
  .bottompics div p {
      font-size: 10pt;
  }

}
@media (min-width: 300px) and (max-width: 322px){
  .copy {
    margin-top:2em;
  }

}


/*for smart phone (iphone)*/
@media (min-width: 100px) and (max-width: 480px) {

  h3.cohfont {
  padding-top: .9em;
  font-size: 12pt;
  }

.hammy {
    padding-top: 1.3em;
    font-size: 1.8em;
}
 
  .table-text-left-left {
    text-align: left;
    padding-right: 10px;
    font-size: 8pt;
  }
  .table-bg {
    padding-bottom: 12px;
    min-width: 225px;
  }
  .table-text-left-right {
    text-align: left;
    padding-left: 20px;
    font-size: 8pt;
  }
  .scripture {
    font-size: smaller;
    top:-10px;
  }
  .isaiah {
    font-size: small;
  }
  #wrapper {
    top:-40px;
  }
  #wrapper h2 {
    font-size: 14pt;
  }
  #wrapper h4 {
    font size: medium;
  }
  .center-fly {
    transform: translateY(-55%);
  }


}
  



